html{
    scroll-behavior: smooth;
}

/* Navigation */

#navbar{
    flex-direction: column;
}
#navbar ul a {
    font-size: 1.0rem;
    padding-bottom: 5px;
    font-weight: 600;
    padding: 06px 12px;
}
.btn {
    font-size: 1.0rem;
    margin-top: 42px;
}



/* Home Section */

#home{
    height: 400px;
    padding: 5px 50px;
}
#home::before{
    height: 556px;
}
#home p{
    font-size: 0.9rem;
}

/* Services Section */

#services{
    flex-direction: column;
}

/* Clients Section */

#clients{
    flex-wrap: wrap;

}

#clients img{
    height: 70px;
    padding: 5px;
    

}


/* Contact us Section */

#contact-box input,
#contact-box textarea{

    padding: 8px;
    width: 90%;
    font-size: 1.2rem;
    border-radius: 9px;
    font-family: "Bree Serif", serif;
}



/*Utility Section */

.h-primary{
    font-size: 2.2rem;

}
/* Footer Section */

footer{
    font-size: 0.8rem;
}
